body{
    background-image: url(https://wips.plug.it/cips/initalia.virgilio.it/cms/2023/07/treni.jpg);
    background-size: cover;
}
.bg_custom{
    background-color: rgba(0, 0, 0, 0.5);
}
.biglietto{
    display: none;
}
.active{
    display: flex;
}
.orange{
    height: 45px;
}
img{
    height: 40px;
    transform: rotate(90deg);

}